{% extends "layout.html" %}

{% block title %}
About
{% endblock %}

{% block main %}
<!--about section start -->
<div class="about_section layout_padding">
   <div class="container">
      <h1 class="about_taital">About Us</h1>
      <p class="about_text">Our mission is to connect everyone with quality, affordable health insurance and Medicare
         plans</p>
      <div class="about_section_2">
         <div class="row">
            <div class="col-lg-6">
               <div class="about_image"><img src="static/images/about-img.png"></div>
            </div>
            <div class="col-lg-6">
               <div class="about_taital_main">
                  <p>
                     People can order their required medicines or other medical-related items online, and the
                     delivery support will provide
                     the products door-to-door for the users. Using this system now users can get their needed
                     medicine without leaving home.</p>
                  <p>
                     They can save money and they do not need to go out in this pandemic situation to buy medicine.
                     In this crucial
                     situation, “eHealth” is very helpful and it will act as a blessing for the people.
                  </p>
                   
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!--about section end -->
{% endblock %}