{% extends "layout.html" %}

{% block title %}
Display Product
{% endblock %}

{% block main %}
<!--Changing the number in the column_# class changes the number of columns-->

<div id="wrap">
    {% for data in itemData %}
    <div id="columns" class="columns_4">
        {% for row in data %}
        <figure>
            <img src="{{ url_for('static', filename='uploads/' + row[4]) }}" width="300px" height="300px">
            <figcaption>{{row[1]}}</figcaption>
            <span class="price">Tk {{row[2]}}</span>
            <a class="btn btn-success" href="/productDescription?productId={{row[0]}}"> Buy Now
            </a>
        </figure>

        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}