{% extends "layout.html" %}

{% block title %}
Services
{% endblock %}

{% block main %}
<div class="services_section layout_padding">
   <div class="container">
      <h1 class="services_taital">What We Do</h1>

      <div class="services_section_2">
         <div class="row">
            <div class="col-lg-4">
               <div class="icon_box">
                  <div class="icon_1"><img src="static/images/icon-1.png"></div>
               </div>
               <h4 class="selection_text">Excellent products</h4>
               <p class="ipsum_text">We offer our clients excellent quality services for many years, with the best
                  products in the city.</p>
               <div class="icon_box">
                  <div class="icon_1"><img src="static/images/icon-4.png"></div>
               </div>
               <h4 class="selection_text">Securities</h4>
               <p class="ipsum_text">We offer our clients excellent quality services for many years, with the best
                  products in the city.</p>
            </div>
            <div class="col-lg-4">
               <div class="icon_box">
                  <div class="icon_1"><img src="static/images/icon-2.png"></div>
               </div>
               <h4 class="selection_text">Delivery</h4>
               <p class="ipsum_text">We offer our clients excellent quality services for many years, with the best
                  products in the city.</p>
               <div class="icon_box">
                  <div class="icon_1"><img src="static/images/icon-5.png"></div>
               </div>
               <h4 class="selection_text">Save time</h4>
               <p class="ipsum_text">We offer our clients excellent quality services for many years, with the best
                  products in the city.</p>
            </div>

         </div>
      </div>
   </div>
</div>
<!-- services section end -->
{% endblock %}